# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse project files
.project
.classpath
.settings/

# IntelliJ IDEA project files
.idea/
*.iml
out/

# VS Code settings folder
.vscode/

# Mac OS files
.DS_Store

# Linux files (Ubuntu)
*~

# Maven / Gradle
target/
build/

# Temporary files
*.tmp
*.bak
*.swp

# Java specific
hs_err_pid*

# Others
*.log
